/* xs >= */
.banner {
    width: 100%;
    height: 255px;
    padding-top: 130px;
    background-image: url('/images/banner.png');
    background-repeat: no-repeat;
    background-size: 100% 255px;
}

.banner .card {
    background-color: white;
    box-shadow: 0 16px 16px rgb(75 75 75 / 20%);
    border-radius: 2px;
}

.banner .card .title {
    padding-top: 38px;
    padding-bottom: 40px;

    color: #1D1D1D;
    font-size: 24px;
    text-align: center;
}

.banner .card .row {
    flex-direction: column;
    align-items: center;
}

.banner .card .tags {
    margin-bottom: 16px;
    flex-flow: row wrap;
}

.banner .card .tag {
    color: #626262;
    font-size: 14px;
}

.banner .card .tag::after {
    content: " •\00a0";
}

.banner .card .tag:last-of-type::after {
    content: "";
}

.banner .card .time {
    margin-bottom: 24px;
    padding: 8px 16px;

    background-color: #262626;
    border-radius: 16px;

    color: white;
}

.nav-bar {
    height: 80px;
    border-bottom: 1px solid rgb(75 75 75 / 20%);
}

.nav-bar .content.row {
    height: 100%;
    align-items: center;
}

.nav-bar .item {
    padding: 10px 10px;
    margin: 0 10px;
    background-color: white;
    border-radius: 4px;
    color: #626262;
    text-decoration: none;
}

.nav-bar .item:hover,
.nav-bar .item:focus {
    background-color: #626262;
    color: white;
}

.nav-bar .item:first-of-type {
    margin-left: -10px;
}

.nav-bar .item.active {
    color: #327430;
}

.nav-bar .item.active:hover,
.nav-bar .item.active:focus {
    background-color: #327430;
    color: white;
}

.menu {
    margin-top: 56px;
    margin-bottom: 40px;
}

.menu .title {
    margin-bottom: 12px;

    font-size: 22px;
    color: #1D1D1D;
    text-align: center;
}

.menu hr {
    border: none;
    border-top: 1px solid #757575;
    width: 50px;
    margin-bottom: 43px;
}

.items {
    display: grid;
    gap: 16px 0;
}

.menu .item {
    height: 102px;
    margin-left: 0;
    margin-right: 0;

    display: flex;
    justify-content: space-between;
    align-items: stretch;

    border-bottom: 1px solid rgb(75 75 75 / 20%);
}

.item .text {
    display: flex;
    flex-direction: column;

    padding-bottom: 16px;

    min-width: 0;
    flex: 1;
}

.item .text * {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.item .name {
    margin-bottom: 4px;
    font-size: 13px;
    color: #1D1D1D;
}

.item .description {
    font-size: 13px;
    color: #626262;
}

.item .price {
    margin-top: auto;
    font-size: 15px;
    font-weight: 500;
    color: #1D1D1D;
}

.item img {
    height: calc(100% + 1.5px);
    margin-top: -0.75px;
    margin-right: -0.5px;
    border-radius: 2px;
}

/* md >= */
@media (min-width: 768px) {
    .banner {
        padding-top: 80px;
        background-image: url('/images/banner-md.png');
        background-size: cover;
    }

    .banner .card {
        min-width: 480px;
        margin-bottom: 80px;
    }

    .banner .card .title {
        padding-top: 38px;
        padding-left: 48px;

        font-size: 36px;
        text-align: start;
    }

    .banner .card .row {
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;
        margin-bottom: 38px;
    }

    .banner .card .tags {
        padding-left: 48px;
    }

    .banner .card .time {
        margin-left: 38px;
        margin-right: 68px;
    }

    .menu {
        margin-bottom: 48px;
    }

    .items {
        gap: 32px 0;
    }

    .menu .title {
        margin-bottom: 32px;
        text-align: left;
    }

    .menu .item {
        height: 160px;
        background-color: white;
        border: 1px solid rgb(75 75 75 / 20%);
        border-radius: 2px;
    }

    .menu .item:hover,
    .menu .item:focus {
        background-color: rgb(75 75 75 / 4%);
    }

    .item .text {
        padding: 16px;
    }

    .item .name {
        font-size: 16px;
    }
}

/* lg >= */
@media (min-width: 992px) {
    .banner {
        background-image: url('/images/banner-lg.png');
    }

    .banner .card {
        min-width: 460px;
    }

    .banner .card .title {
        padding-top: 38px;
        padding-left: 30px;
    }

    .banner .card .tags {
        padding-left: 46px;
    }

    .banner .card .time {
        margin-right: 45px;
    }

    .menu {
        margin-bottom: 80px;
    }

    .items {
        grid-template-columns: repeat(2, 1fr);
        gap: 50px 16px;
    }
}