.scroll-top-btn {
    position: fixed;
    right: 16px;
    bottom: 24px;

    display: block;
    width: 80px;
    height: 80px;

    background-color: #59BD5A;
    color: white;

    border: none;
    border-radius: 2px;

    cursor: pointer;

    opacity: 1;
    transition: opacity 0.2s ease-in-out;;
}

.btn-hide {
    display: none;
}

.btn-hiding {
    opacity: 0;
}