/* xs >= */
input {
    all: unset;
    box-sizing: border-box;

    margin: 32px 0 56px 0;
    padding-top: 24px;
    width: 100%;
    height: 48px;

    border-bottom: 1px solid rgb(75 75 75 / 30%);

    font-size: 16px;
}

input::placeholder {
    color: rgb(62 62 62 / 50%);
}

h1 {
    margin-bottom: 16px;

    font-size: 22px;
    font-weight: 400;
    color: #1D1D1D;
}

.cards {
    display: grid;
    gap: 16px 0;
    margin-bottom: 48px;
}

.card {
    padding-bottom: 20px;

    background-color: white;
}

.card img {
    width: 100%;
}

.card:hover,
.card:focus {
    background-color: #dfdfdf;
}

.card-title {
    margin-top: 16px;
    font-size: 16px;
    color: #1D1D1D;
}

.card-tags {
    margin-top: 4px;
    font-size: 14px;
    color: #626262;
}

.card-tag::after {
    content: " • ";
}

.card-tag:last-of-type:after {
    content: "";
}

.card-time {
    margin-top: 4px;
    font-size: 13px;
    color: #1D1D1D;
}

/* md >= */
@media (min-width: 768px) {
    .cards {
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;
    }
}

/* lg >= */
@media (min-width: 992px) {
    .cards {
        grid-template-columns: repeat(3, 1fr);
        margin-bottom: 80px;
    }
}