body {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
    margin: 0;
}

.content {
    margin: 0 8px;
}

@media (min-width: 1200px) {
    .content {
        margin: 0 80px;
    }
}

header {
    position: sticky;
    top: 0;
    z-index: 10;

    background-color: white;
    height: 56px;
    padding-top: 16px;
    box-shadow: 0 4px 4px rgb(0 0 0 / 25%);
}

[class*="col-"] {
    margin-left: 0 !important;
    margin-right: 0 !important;
}


.col-xs-6.end-xs {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

button {
    all: unset;
    box-sizing: border-box;

    width: 78px;
    height: 40px;

    background-color: white;
    border: 1px solid #E0E0E0;
    border-radius: 2px;

    color: black;
    font-weight: 500;
    font-size: 13px;
    font-family: inherit;
    text-align: center;
    cursor: pointer;

    transition: none;
}

button.loaded {
    transition:
        background-color 0.2s,
        color 0.2s,
        transform 0.2s ease;
}

button:hover {
    background-color: black;
    color: white;
}

button:active {
    transform: scale(1.05);
}

button:focus {
    outline: auto 1px Highlight;
    outline: auto 5px -webkit-focus-ring-color;
}

.basket {
    margin-left: 16px;
}

footer {
    background-color: #262626;
    padding: 56px 0 40px 0;
}

hr {
    border: none;
    border-top: 1px solid rgb(255 255 255 / 40%);
    margin: 40px 0;
}

.select-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    width: 58.3333%;
}

@media (min-width: 1200px) {
    .select-wrapper {
        width: 75%;
    }
}

.language-select {
    appearance: none;
    border: none;
    height: 40px;
    width: 100%;
    padding-left: 48px;
    background-color: #3B3B3B;
    border-radius: 2px;
    font-size: 13px;
    color: white;
}

.icon-left {
    position: absolute;
    left: 16px;
    pointer-events: none;
}

.icon-right {
    position: absolute;
    right: 8px;
    pointer-events: none;
}

select:hover, select:focus {
    outline: solid rgb(255 255 255 / 40%);;
}

select option {
    background-color: white;
    color: black;
}

.socials a {
    margin-right: 12px;
}

.hashtag {
    padding-top: 32px;
    padding-bottom: 16px;
}

.hashtag p {
    display: inline;
    color: #49A144;
    font-size: 16px;
}

.hashtag a {
    margin-left: -3px;
}

a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.col-lg-3.row {
  align-content: flex-start;
}

a.col-12 {
    flex-basis: 100%;
    padding-bottom: 23px;
}

a:hover {
    text-decoration: underline;
}

.apps.row {
    justify-content: center;
}

.apps a:first-child {
    margin-right: 24px;
}

@media (min-width: 1200px) {
    .apps a:first-child {
        margin-right: 40px;
    }
}

.documents * {
    color: white;
    font-size: 11px;
    margin-bottom: 24px;
}

.documents *:last-child {
    margin-bottom: 0;
}