/* xs >= */
.menu {
    margin-top: 56px;
    margin-bottom: 40px;
}

.menu .title {
    margin-bottom: 12px;

    font-size: 22px;
    color: #1D1D1D;
    text-align: center;
}

.menu hr {
    border: none;
    border-top: 1px solid #757575;
    width: 50px;
    margin-bottom: 43px;
}

.items {
    display: grid;
    gap: 16px 0;
}

.menu .item {
    height: 102px;
    margin-left: 0;
    margin-right: 0;

    display: flex;
    justify-content: space-between;
    align-items: stretch;

    border-bottom: 1px solid rgb(75 75 75 / 20%);
}

.item .text {
    display: flex;
    flex-direction: column;

    padding-bottom: 16px;

    min-width: 0;
    flex: 1;
}

.item .text * {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.item .name {
    margin-bottom: 4px;
    font-size: 13px;
    color: #1D1D1D;
}

.item .description {
    font-size: 13px;
    color: #626262;
}

.item .price {
    margin-top: auto;
    font-size: 15px;
    font-weight: 500;
    color: #1D1D1D;
}

.item img {
    height: calc(100% + 1.5px);
    margin-top: -0.75px;
    margin-right: -0.5px;
    border-radius: 2px;
}

/* md >= */
@media (min-width: 768px) {
    .menu {
        margin-bottom: 48px;
    }

    .items {
        gap: 32px 0;
    }

    .menu .title {
        margin-bottom: 32px;
        text-align: left;
    }

    .menu .item {
        height: 160px;
        background-color: white;
        border: 1px solid rgb(75 75 75 / 20%);
        border-radius: 2px;
    }

    .menu .item:hover,
    .menu .item:focus {
        background-color: rgb(75 75 75 / 4%);
    }

    .item .text {
        padding: 16px;
    }

    .item .name {
        font-size: 16px;
    }
}

/* lg >= */
@media (min-width: 992px) {
    .menu {
        margin-bottom: 80px;
    }

    .items {
        grid-template-columns: repeat(2, 1fr);
        gap: 50px 16px;
    }
}