body {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
    margin: 0;
}

.content {
    margin: 0 8px;
}

@media (min-width: 1200px) {
    .content {
        margin: 0 80px;
    }
}

[class*="col-"] {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

a:hover {
    text-decoration: underline;
}
