body {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
    margin: 0;
}

#header {
    position: sticky;
    top: 0;
    z-index: 10;
}

.content {
    margin: 0 8px;
}

@media (min-width: 992px) {
    .content {
        margin: 0 80px;
    }
}

[class*="col-"] {
    margin-left: 0 !important;
    margin-right: 0 !important;
}
