footer {
    background-color: #262626;
    padding: 56px 0 40px 0;
}

hr {
    border: none;
    border-top: 1px solid rgb(255 255 255 / 40%);
    margin: 40px 0;
}

.select-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    width: 58.3333%;
}

@media (min-width: 1200px) {
    .select-wrapper {
        width: 75%;
    }
}

.language-select {
    appearance: none;
    border: none;
    cursor: pointer;
    height: 40px;
    width: 100%;
    padding-left: 48px;
    background-color: #3B3B3B;
    border-radius: 2px;
    font-size: 13px;
    color: white;
}

.icon-left {
    position: absolute;
    left: 16px;
    pointer-events: none;
}

.icon-right {
    position: absolute;
    right: 8px;
    pointer-events: none;
}

select:hover,
select:focus {
    outline: solid rgb(255 255 255 / 40%);
}

select option {
    background-color: white;
    color: black;
}

.socials a {
    margin-right: 12px;
}

.hashtag {
    padding-top: 32px;
    padding-bottom: 16px;
}

.hashtag p {
    display: inline;
    color: #49A144;
    font-size: 16px;
}

.hashtag a {
    margin-left: -3px;
}

.col-lg-3.row {
    align-content: flex-start;
}

a.col-12 {
    flex-basis: 100%;
    padding-bottom: 23px;
}

.apps.row {
    justify-content: center;
}

.apps a:first-child {
    margin-right: 24px;
}

@media (min-width: 1200px) {
    .apps a:first-child {
        margin-right: 40px;
    }
}

.documents * {
    color: white;
    font-size: 11px;
    margin-bottom: 24px;
}

.documents *:last-child {
    margin-bottom: 0;
}
